.footer {
  background: #006755;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .social-media a {
    margin: 10px;
  }
}

