body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0 auto;
  background: #111;
  color: white;
}

:any-link {
  text-decoration: none;
  color: inherit;
}

:any-link:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10%;
}

.post-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex-shrink: 0;
    min-width: 100%;
    max-height: 600px;
  }
}


.post-list {
  list-style: none;
  padding-left: 0;

  li {
    padding: 1em 0;
  }
}

@import "header";
@import "footer";
@import "hero";
@import "post";
